body {
    font-family: Roboto, Helvetica, 'Segoe Ui', sans-serif;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* header */

.header {
    min-height: 48px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20%;
    gap: 12px;
    flex-wrap: wrap;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    display: flex;
    justify-self: center;
    align-items: flex-end;
    gap: 6px;
}

.header-icon {
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: flex-end;
    gap: 2em;
}

/* middle content */
.hero,
.trivia,
.quote,
.action {
    display: flex;
    flex: 1;
}

/* hero section */

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 5% 20%;
    gap: 24px;
    flex-wrap: wrap;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    min-width: 250px;
}

.hero-right {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-width: 250px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 80%;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 80%;
    padding: 12px 0;
}

.hero-button {
    background-color: #3882F6;
    font-size: 16px;
    color: white;
    font-weight: 700;
    align-self: flex-start;
    padding: 8px 40px;
    border-radius: 8px;
    border-color: #3882F6;
    transition-duration: 0.2s;
}

.hero-button:hover {
    background-color: #3069c4;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* trivia section */

.trivia {
    background-color: #04060D; 
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 25%;
}

.trivia-title {
    font-size: 36px;
    color: #F9FAF8;
    font-weight: 900;
    text-align: center;
    padding: 48px;
}

.trivia-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.trivia-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trivia-image {
    height: 180px;
    width: 180px;
    border: solid 4px #3882f6;
    border-radius: 16px;
}

.trivia-text {
    width: 150px;
    text-align: center;
    padding: 12px;
    color: #F9FAF8;
}

/* quote section */

.quote {
    background-color: #010b19;
    flex-direction: column;
    justify-content: center;
    padding: 12% 30%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #F9FAF8;
}

.quotee {
    font-size: 24px;
    font-weight: 700;
    text-align: end;
    color: #F9FAF8;
}
/* action section */

.action {
    /* background-color: #c1baba; */
    background-color: #04060D;
    padding: 10% 20%;
    display: flex;
    flex: 1;
}

.action-card {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    padding: 5% 15%;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    flex-wrap: wrap;
}

.action-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.action-header {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.action-subtext {
    font-size: 16px;
    color: #F9FAF8;
}

.action-button {
    background-color: #3882F6;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 8px 40px;
    border-radius: 8px;
    border: 2px solid white;
    transition-duration: 0.2s;
}

.action-button:hover {
    background-color: #3069c4;
}
 
/* footer section */

.footer {
    height: 48px;
    display: flex;
    background-color: #1F2937;
    margin-top: auto;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}